#slider {
    background-color: #EFEFEF;

    .contianer {
        @extend .page-layout;
        @extend .flex;

        .text-body {

            width: 650px;
            color: $secondary_color;

            .heading {
                @include heading();
            }

            .sub-heading {
                font-size: 30px;
                font-weight: 300;
                padding: 10px 0;

            }

            .content {
                font-size: 18px;
                line-height: 25px;
            }
        }

        .image {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}