@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

ul{
    padding: 0;
    margin: 0;
    list-style:none; 
}
a{
    text-decoration: none;
    color: black;
}

#top-nav{
    background-color: orangered;

    color: white;
    font: 16px;

    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;

    padding: 15px 0;
    
}

#top-nav .button{
    background-color: black;
    padding: 10px 15px;
    border-radius: 5px;
}
#header {
    border-bottom: 1px solid rgb(169, 169, 169);
}
#header .container{
    /* border: 1px solid red; */
    width: 1200px;
    margin: auto;
    display: flex;
    gap:50px;

    padding: 10px 0;
    justify-content: space-between;
    align-items: center;

}
#header .container .search {
    border-radius: 50px;
    height: 30px;
    border:1px solid rgb(151, 149, 149);
    padding-right: 5px;
}
#header .container .search .input-search{
    border-radius: 50px;
    height: 15px;
    border:none;
    padding: 2px;
}
#header .container .search .search-icon{
    color:rgb(121, 121, 121);
    font-size: 25px;
}
#nav{
    background-color: white;
    position: sticky;
    left:0px;
    top:0px;
}
#nav .container{
    
    width: 1200px;
    margin: auto;

    padding:  15px 0;
    
}
#nav .container ul{
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
}

#nav .container ul li a sup{
    background-color: orangered;
    color: white;
    padding: 2px 5px;
    border-radius:5px;
}
#slider .container{
    display: flex;
}

#slider .container .left{
    background-color: #274595;
    flex-basis: 40%;
    
    color:white;
   
}
#slider .container .left .left-content{
    

    padding: 45px 0 0 45px;
}

#slider .container .left .left-content .heading{
    font-size: 45px;
}

#slider .container .left .left-content .sub-heading{
    font-size: 18px;
    padding: 10px 0;
}

#slider .container .left .left-content .content{
    font-size: 16px;

    line-height: 25px;

    padding: 0 0 15px 0;
}
#slider .container .left .left-content .button{
    background-color: #81e9e6;

    display: inline-block;

    padding: 15px 10px;

    color: #274595;
    border-radius: 10px;
    font-weight: 500;
}

#slider .container .middle{
    /* background-color: green; */
    
    flex-basis: 35%;
    /* height: 450px; */
}
#slider .container .right{
    background-color: blue;

    flex-grow: 1;
}

#slider .container .middle img{
    width: 100%;
    height: 100%;
}


footer{
    background-color: #213688;
    /* padding: 30px 0; */
    color: white;
    padding: 30px;
    text-align: center;

    /* margin-top: 1px; */
    border-top: 1px solid white;

    
}